@import 'constants/colors.scss';
@import 'constants/typography.scss';
@import 'constants/common.scss';

.flexWrapSpaceBetween {
	@include flexWrap;
	@include flexSpaceBetween;
}

.noDataContainer {
	@include flexCenter;
	@include bold-font;
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	font-size: 1rem;
}

.cardContainer {
	cursor: pointer;
}

@media only screen and (max-width: 600px) {
	.cardContainer {
		@include flexCenter;
		@include flexColumn;
	}
}
