@mixin flexContainer() {
	display: flex;
}

@mixin flexColumn() {
	display: flex;
	flex-direction: column;
}

@mixin flexSpaceBetween() {
	display: flex;
	justify-content: space-between;
}

@mixin flexAlignCenter() {
	display: flex;
	align-items: center;
}

@mixin flexCenter() {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin flexWrap {
	display: flex;
	flex-wrap: wrap;
}
