@import 'constants/colors.scss';
@import 'constants/typography.scss';
@import 'constants/common.scss';

.loaderContainer {
	@include flexCenter;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.loader {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}
.loader div {
	position: absolute;
	border: 4px solid #fff;
	opacity: 1;
	border-radius: 50%;
	animation: loader 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.loader div:nth-child(2) {
	animation-delay: -0.5s;
}
@keyframes loader {
	0% {
		top: 36px;
		left: 36px;
		width: 0;
		height: 0;
		opacity: 1;
	}
	100% {
		top: 0px;
		left: 0px;
		width: 72px;
		height: 72px;
		opacity: 0;
	}
}
