@import 'constants/colors.scss';
@import 'constants/typography.scss';
@import 'constants/common.scss';

.flexColumn {
	@include flexColumn;
}

.flexContainer {
	@include flexContainer;
}

.countryContainer {
	width: 250px;
	margin-bottom: 30px;
}

.flagContainer {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 120px;
}

.dataContainer {
	height: 120px;
	padding: 20px;
}

.name {
	@include bold-font;
	margin-bottom: 20px;
	font-size: 1.2rem;
}

.titleTextOption {
	@include medium-font;
}

.optionData {
	@include regular-font;
	margin-left: 8px;
}
