@import 'constants/colors.scss';
@import 'constants/typography.scss';
@import 'constants/common.scss';

.searchBarContainer {
	@include flexAlignCenter;
	padding: 12px 16px;
	width: 300px;
	border-radius: 4px;
}

.lightPlaceholder::placeholder {
	color: $darkGrey;
}

.darkPlaceholder::placeholder {
	color: $white;
}

.search-icon {
	margin-right: 12px;
}

.searchBox {
	background: transparent;
	outline: none;
	border: none;
	color: inherit;
	width: 275px;
}

@media only screen and (max-width: 600px) {
	.searchBarContainer {
		margin-bottom: 30px;
	}
}
