@import 'constants/colors.scss';
@import 'constants/typography.scss';
@import 'constants/common.scss';

.headerContainer {
	padding: 12px 40px !important;
}

.flexSpaceBetween {
	@include flexSpaceBetween;
}

.flexContainer {
	@include flexContainer;
}

.moon-icon {
	margin-right: 8px;
}

.titleText {
	@include bold-font;
	font-size: 1.2rem;
}

.themeSwitchText {
	@include flexAlignCenter;
	cursor: pointer;
}

@media only screen and (max-width: 600px) {
	.headerContainer {
		padding: 12px 15px !important;
	}
}
