@import 'constants/colors.scss';
@import 'constants/typography.scss';
@import 'constants/common.scss';

.countriesContainer {
	min-height: 100vh;
}

.flexContainerSeacrchNFilter {
	@include flexSpaceBetween;
	@include flexAlignCenter;
}

.SearchAndFilterContainer {
	margin: 30px 0;
}

@media only screen and (max-width: 600px) {
	.SearchAndFilterContainer {
		@include flexColumn;
		align-items: unset;
	}
}
