@import 'constants/colors.scss';
@import 'constants/typography.scss';
@import 'constants/common.scss';

.selectBox {
	width: 150px;
	padding: 12px 16px;
	outline: none;
	border: none;
	border-radius: 4px;
	-webkit-appearance: none;
	-moz-appearance: none;
	background-position: 90% 50%;
	background-repeat: no-repeat;
	background-size: 12px;
	cursor: pointer;
}

.selectBox:after {
	outline: none;
	padding: 20px;
}

select option[disabled] {
	display: none;
}

select option {
	padding: 10px;
}
