@import 'constants/colors.scss';
@import 'constants/typography.scss';
@import 'constants/common.scss';

.backButton {
	margin: 60px 0;
	width: fit-content;
	padding: 5px 20px;
	border-radius: 4px;
	cursor: pointer;
}

.back-arrow {
	margin-right: 8px;
	font-size: 0.7rem;
}

.countrydetailContainer {
	@include flexSpaceBetween;
	height: 300px;
}

.flagSection {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 400px;
}

.borderCountriesButton {
	width: fit-content;
	padding: 5px 20px;
	border-radius: 4px;
	cursor: pointer;
	margin-right: 8px;
	margin-bottom: 8px;
}

.itemSection {
	@include flexContainer;
	margin-bottom: 10px;
}

.boldItemText {
	@include medium-font;
	margin-right: 8px;
}

.nameSection {
	@include bold-font;
	font-size: 1.4rem;
	margin-bottom: 30px;
}

.borderCountriesSection {
	@include flexAlignCenter;
}

.otherDetailSection {
	width: 50%;
}

.borderCountriesData {
	@include flexWrap;
}

.details-section {
	@include flexColumn;
	@include flexWrap;
	max-height: 150px;
	margin-bottom: 30px;
}

@media only screen and (max-width: 800px) {
	.countrydetailContainer {
		@include flexColumn;
		height: 100%;
	}
	.borderCountriesSection {
		@include flexColumn;
		align-items: unset;
	}
	.borderCountriesData {
		margin-top: 12px;
	}

	.otherDetailSection {
		width: 100%;
	}
	.flagSection {
		height: 200px;
		width: 300px;
		margin-bottom: 30px;
	}
	.borderCountriesSection {
		@include flexColumn;
		align-items: unset;
	}
}

@media only screen and (max-width: 500px) {
	.borderCountriesData {
		margin-top: 12px;
	}

	.details-section {
		flex-wrap: unset;
		max-height: 300px;
	}
	.topLevelDomain {
		margin-top: 30px;
	}
}
