@import 'constants/typography.scss';

body {
	margin: 0;
	padding: 0;
	@include regular-font;
	font-size: 0.875rem;
}

.container {
	padding: 0 40px;
}

@media only screen and (max-width: 600px) {
	.container {
		padding: 0 15px;
	}
}
